<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.groupbuy.repository.mapper.GroupBuyOrderListMapper">
    <update id="updateOrderStatus2COMPLETE" parameterType="com.zj.groupbuy.model.entity.GroupBuyOrderList">
        update group_buy_order_list
        set status = 1, out_trade_time = #{outTradeTime}, update_time = now()
        where out_trade_no = #{outTradeNo} and user_id = #{userId} and status = 0
    </update>
</mapper>