<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.groupbuy.repository.mapper.GroupBuyOrderMapper">
    <update id="updateAddLockCount" parameterType="java.lang.String">
        <![CDATA[
        update group_buy_order
        set lock_count = lock_count + 1, update_time= now()
        where team_id = #{teamId} and lock_count < target_count
        ]]>
    </update>
    <update id="updateAddCompleteCount" parameterType="java.lang.String">
        <![CDATA[
        update group_buy_order
        set complete_count = complete_count + 1, update_time= now()
        where team_id = #{teamId} and complete_count < target_count
        ]]>
    </update>
    <update id="updateOrderStatus2COMPLETE" parameterType="java.lang.String">
        update group_buy_order
        set status = 1, update_time= now()
        where team_id = #{teamId} and status = 0
    </update>
</mapper>